
@{
    List<MovieApp.Service.Models.Category> categories = ViewBag.Categories;
    List<MovieApp.Service.Models.Director> directors = ViewBag.Directors;
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@*"enctype" file işlemlerinde post olurken eklenmesi gerek*@
<form action="/Admin/Add" method="post" enctype="multipart/form-data">
    <br />
    MovieWriter:<input type="text" name="MovieWriter" id="MovieWriter" class="form-control" value="" />
    <br />
    Category:
    <select name="CategoryId" class="form-control">
        @foreach (var item in categories)
        {
            <option value="@item.Id">@item.CategoryName</option>
        }
    </select>
    <br />
    MovieDirector:<select name="DiretorId" class="form-control">
        @foreach (var item in directors)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <br />
    MovieImage:<input class="form-control" type="file" id="image" name="image"><br>
    <br />
    MovieVideo:  <input class="form-control" type="file" id="video" name="video" multiple>
    <br />
    MovieTime:<input type="text" name="MovieTime" id="MovieTime" class="form-control" value="" />
    <br />
    MovieYear:<input type="text" name="MovieYear" id="MovieYear" class="form-control" value="" />

    <br />
    MovieTitle:<input type="text" name="MovieTitle" id="MovieTitle" class="form-control" value="" />
    <br />
    MovieDescription:<textarea name="MovieDescription" id="MovieDescription" class="form-control" rows="3" value=""></textarea>
    <br />


    <button type="submit" value="Update" class="btn btn-info">Movie Add</button>

</form>
