


@using (Html.BeginForm("PartialPage", "Home", FormMethod.Get))
//formumuz bir etkileşime giriyor post mu get mi olunca yapıcak nerde gelicek bilgiler bunları belirliyoruz deger döndürdügümüz için şart
{


    <div class="top-search">
        @*//name deki p parametresi controllerdan gelen p paramatresi*@ 
        <input type="text" name="p" placeholder="Search for a movie, TV Show or celebrity that you are looking for">

        <button type="submit" style="background-color: #2d4862; color: #fff; width: 80px;height:46px;"><b>Film Ara</b></button>
    </div>
}

