
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<head>

    <!-- Basic need -->
    <title>Open Pediatrics</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">
    <link rel="stylesheet" href="~/css/plugins.css">
    <link rel="stylesheet" href="~/css/style.css">
    @RenderSection("CSS", false)

</head>
<body>
    <!--preloading-->
    <div id="preloader">
        <img class="logo" src="~/html/images/logo1.png" alt="" width="119" height="58">
        <div id="status">
            <span></span>
            <span></span>
        </div>
    </div>
    <!--end of preloading-->
    <!--login form popup-->
    <!--end of signup form popup-->
    <!-- BEGIN | Header -->
    <header class="ht-header">
        <div class="container">
            <nav class="navbar navbar-default navbar-custom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header logo">
                    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <div id="nav-icon1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <a href="index.html"><img class="logo" src="~/html/images/logo1.png" alt="" width="119" height="58"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav flex-child-menu menu-left">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="dropdown first">
                            <a href="http://www.youtube.com" class="btn btn-default"> Home </a>


                        </li>
                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                movies
                            </a>
                        </li>
                       
                        <li><a href="#">Help</a></li>



                    </ul>

                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <!-- top search form -->
            <div class="top-search">
                <button type="submit" style="border: 3px solid #000000; background-color: #2d4862; text-align: center; color: #fff; "><b>Film Ara</b></button>

               
                    
                    <input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for" style="color: #fff; border: 3px; ">

            </div>
        </div>
    </header>




    <!-- END | Header -->

    @RenderBody()

    <!--end of latest new v1 section-->
    <!-- footer section-->
    <footer class="ht-footer">
        <div style="background:url('../images/reklam.jpg') !important; background-repeat:no-repeat">

            <div class="container">
                <div class="flex-parent-ft">

                    <div class="flex-child-ft item1">
                        <a href="index.html"><img class="logo" src="~/html/images/logo1.png" alt=""></a>
                        <p>
                            5th Avenue st, manhattan<br>
                            Ankara, 06000
                        </p>
                        <p>Bizi Arayın: <a href="#">(+90) 544 444 4444</a></p>
                    </div>
                    <div class="flex-child-ft item2">
                        <h4>Resources</h4>
                        <ul>
                            <li><a href="#">Hakkında</a></li>

                            <li><a href="#">Bize Ulaşın</a></li>

                            <li><a href="#">Yardım Merkezi</a></li>
                        </ul>
                    </div>
                    <div class="flex-child-ft item3">
                        <h4>Yasal</h4>
                        <ul>
                            <li><a href="#">Yasal Haklar</a></li>
                            <li><a href="#">Gizlilik Politakası</a></li>
                            <li><a href="#">Güvenlik</a></li>
                        </ul>
                    </div>


                </div>
            </div>

        </div>
        <div class="ft-copyright">
            <div class="ft-left">
                <p>© 2021 Blockbuster. All Rights Reserved. Designed by Vakıf Global.</p>
            </div>
            <div class="backtotop">
                <p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
            </div>
        </div>
    </footer>
    <!-- end of footer section-->
    @RenderSection("script", false)
    <script src="~/lib/jquery/dist/jquery.js"></script>


    <script src="~/html/js/plugins.js"></script>
    <script src="~/html/js/plugins2.js"></script>
    <script src="~/html/js/custom.js"></script>
</body>
</html>

